 body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  margin: 0;
  padding: 0;
}

.errors {
  white-space: pre;
  color: red;
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }


/* resizer */

.Resizer {
  background: #000;
  opacity: .2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
  background-color: #002c54;
}

.Resizer.horizontal {
  height: 20px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 20px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.disabled {
cursor: not-allowed;
}

.Resizer.disabled:hover {
border-color: transparent;
}


/* DEFAULT THEME */

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3 {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }


.CodeMirror span {
    font-family: monospace;
    font-size: 14px;
    line-height: 1.5
}

.hintsContainer .CodeMirror span,
.promptContainer .CodeMirror span {
    font-size: 15px;
    font-family: Lato, Helvetica, Arial, sans-serif
}

.cm-s-monokai.CodeMirror {
    background: #001528;
    color: #fff
}

.cm-s-default.CodeMirror {
    color: #02203c
}

.cm-s-monokai .CodeMirror-gutters {
    background: #001528
}

.cm-s-default .CodeMirror-gutters {
    background: #fff
}

.CodeMirror-overlayscroll-horizontal div,
.CodeMirror-overlayscroll-vertical div {
    background: #15314b
}

.CodeMirror-linenumber {
    padding: 0 10px 0 5px
}

.cm-s-blackboard .CodeMirror-linenumber,
.cm-s-cobalt .CodeMirror-linenumber,
.cm-s-lucario .CodeMirror-linenumber,
.cm-s-midnight .CodeMirror-linenumber,
.cm-s-monokai .CodeMirror-linenumber,
.cm-s-night .CodeMirror-linenumber,
.cm-s-oceanic-next .CodeMirror-linenumber,
.cm-s-rubyblue .CodeMirror-linenumber {
    color: #fff!important
}

.cm-s-default .CodeMirror-linenumber,
.cm-s-solarized.cm-s-light .CodeMirror-linenumber {
    color: #02203c!important
}

.CodeMirror-gutters {
    border-right: 0!important
}

.editor-container {
    position: relative;
    height: calc(100vh - 82px);
    display: -webkit-box;
    display: flex;
    padding: 10px 20px;
    margin: 10px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

@media(max-width:992px) {
    .editor-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        height: auto;
        padding: 10px;
        -webkit-user-select: auto;
        -moz-user-select: auto;
        -ms-user-select: auto;
        user-select: auto
    }
}

.editor-leftBlock {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: calc(50% - 10px);
    height: 100%
}

@media(max-width:992px) {
    .editor-leftBlock {
        width: 100%
    }
}

.editor-rightBlock {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: calc(50% - 10px);
    height: 100%
}

@media(max-width:992px) {
    .editor-rightBlock {
        width: 100%
    }
}

.editor-resizeBar {
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
    -webkit-box-flex: 0;
    flex: 0 0 auto
}

@media(max-width:992px) {
    .editor-resizeBar {
        display: none
    }
}

.editor-resizeBar:hover {
    background-color: #002c54
}

.editor-resizeBar--horizontal {
    height: 20px;
    cursor: row-resize
}

.editor-resizeBar--vertical {
    width: 20px;
    cursor: col-resize
}

.editor-resizeBar--light:hover {
    background-color: #d2d2d2
}

.editor-box {
    min-height: 40px;
    overflow: hidden
}

@media(max-width:992px) {
    .editor-box {
        margin: 0 0 20px
    }
}

.editor-box--failure {
    outline: 2px solid red
}

.editor-box--success {
    outline: 2px solid #00af32
}

.editor-box--light {
    box-shadow: 0 0 7px -2px #646464
}

.editor-banner {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: #15314b;
    color: #fff;
    padding: 0 15px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    position: relative;
    z-index: 4;
    height: 41px;
    border-radius: 4px 4px 0 0;
    scrollbar-width: none;
    -ms-overflow-style: none
}

.editor-banner::-webkit-scrollbar {
    display: none
}

.editor-bannerBtn {
    background-color: transparent;
    border: none;
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 15px;
    padding: 0 15px;
    height: 100%;
    color: #fff;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    -webkit-transition: background-color .2s, color .2s;
    transition: background-color .2s, color .2s
}

.editor-bannerBtn:first-of-type {
    margin: 0 0 0 15px
}

.editor-bannerBtn:hover {
    background-color: #0e253a
}

.editor-bannerBtn--selected {
    color: #15314b;
    background-color: #c8c8c8!important
}

.editor-bannerBtn--disabled {
    background-color: transparent!important;
    color: #606060;
    cursor: not-allowed
}

.editor-bannerBtn--invisible {
    background-color: transparent!important;
    color: transparent;
    cursor: default
}

.editor-bannerProgress {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center
}

.editor-bannerProgressImg {
    width: 20px
}

.editorHint {
    font-family: Lato, Helvetica, Arial, sans-serif;
    position: absolute;
    z-index: 100;
    display: block;
    font-size: 15px;
    margin: 44px 12px 0 30px
}

.latoEditorHint {
    font-family: Lato, Helvetica, Arial, sans-serif!important
}

.italicEditorHint {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-style: italic
}

.hintsContainer .CodeMirror,
.promptContainer .CodeMirror {
    font-size: 15px
}

.editorOutputGroup {
    display: inline-block;
    vertical-align: top;
    margin-top: 35px
}

.editor-questionsListBtn {
    font-family: Lato, Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: 15px;
    -webkit-transition: color .2s;
    transition: color .2s;
    cursor: pointer;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    margin: 0 25px 0 0
}

.editor-questionsListBtn:hover {
    color: #6772e5;
    text-decoration: none
}

.editor-backArrowIcon {
    height: 25px;
    margin-right: 10px
}

.editor-runSection {
    width: 80px;
    margin: 0 0 0 30px
}

.editor-runBtn {
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
    -webkit-transition: color .2s;
    transition: color .2s;
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 0;
    float: right;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    white-space: nowrap;
    color: #fff
}

.editor-runBtn:hover {
    color: #6772e5
}

.editorQuestionsInfoIcon {
    position: absolute;
    top: .7vh;
    right: 2%;
    height: 3vh;
    -webkit-transition: transform .2s ease-in-out;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out
}

.editorQuestionsInfoIcon:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.outputEmoji {
    height: 2.5vh;
    margin-left: 10px
}

.robotImg {
    position: absolute;
    z-index: 50;
    top: 32%;
    left: 43.2%;
    height: 15vh
}

.editorOutputTextArea {
    font-family: monospace, Helvetica, Arial, sans-serif;
    width: 100%;
    height: 85%;
    border: none;
    padding-left: 15px
}

.inputSavingText {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    margin: 0 0 0 15px;
    font-size: 13px
}

.lessSizeIconActionBar {
    background-color: #15314b;
    padding: 0 0 5px calc(3px + .648vw);
    z-index: 100;
    position: absolute;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px
}


/* .viewer {
  background-color: #001528;
  color: #ffffff;
} */

/* .question-page {
    background-color: #02203c;
    overflow: hidden;
}
     */