@import "../style/variable.scss";

.header {
  background-color: $header-bg;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;

  a {
    color: #ffffff;
    text-decoration: none;
  }
}
